body {
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

#hud {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  gap: 20px;
  color: white;
}

#health-bar {
  width: 200px;
  height: 20px;
  background: #444;
  border-radius: 5px;
  overflow: hidden;
}

#health {
  height: 100%;
  background: red;
  width: 100%;
}